<!DOCTYPE html>
<html>
    <head>
        <title>
            404
        </title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{err}}
        </div>
        {{>footer}}
        
    </body>
</html>