<!DOCTYPE html>
<html>
    <head>
        <title>
            Weather Service | About
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width>
        <meta name="description" content="Use this site to search your current weather">
        <meta name="keywords" content="weather">
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        {{>cdn}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
         <p>This is just a testing website. feel free to search for any location</p>
            <img class="portrait" src="/images/hinix-studios.jpg">
        </div>    
        {{>footer}}
        <noscript>
            <p>Sorry but your device doesnt support Javascript, Check your browsers settings</p>
        </noscript>
    </body>
</html>