<!DOCTYPE html>
<html>
    <head>
        <title>
            Weather Service | About
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Use this site to search your current weather">
        <meta name="keywords" content="weather">
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
         <p>This is just a testing website. feel free to search for any location</p>
            <img class="portrait" src="/images/hinix-studios.jpg">
        </div>    
        {{>footer}}
    </body>
</html>