<!DOCTYPE html>
<html>

<head>
    <title>
        Weather Service | Help
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Use this site to search your current weather">
    <meta name="keywords" content="weather, weather-service, forecast, jda, lagos">
    <link rel="icon" href="/images/weather.png">
    {{>cdn}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is just a testing website. feel free to search for any location</p>
    </div>
    {{>footer}}
</body>

</html>