<!DOCTYPE html>
<html>
    <head>
        <title>
            Weather Service | Help
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Use this site to search your current weather">
        <meta name="keywords" content="weather">
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <script data-ad-client="ca-pub-3045010225335802" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is just a testing website. feel free to search for any location</p>
        </div>
        {{>footer}}
    </body>
</html>