/* Custom Stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 400 !important;
	letter-spacing: 2px;
}

body{
	overflow-x:  hidden;
}

/* header section */
 nav {
	position: absolute;
	z-index: 100;
} 

@media only screen and (max-width: 576px){
	nav{
		top: 0px;
	}
	#hero{
		height: 450px !important;
	}
}

@media only screen and (max-width: 768px){
	nav{
		top: 0px;
	}
}

@media only screen and (max-width: 992px){
	nav{
		top: 0px;
	}
}

@media only screen and (max-width: 1200px){
	nav{
		top: 0px;
	}
}


nav .brand-logo img {
	position: relative;
	top: 10px ;
	left: 10px;
}

nav .btn {
	font-weight: 300 !important;
	color: #f8f8f8;
}

#desktop-menu li a {
	font-weight: 500;
	font-size: 14px;
	color: #0e4b29;
}

.active-home {
	border-bottom: 4px solid #1a914f ;
}

#mobile-demo{
	background-color: #141414 !important;
	opacity: 0.89 !important;
}

#mobile-demo li a{
	margin-top: 20px;
	color: #f8f8f8;
	opacity: 1;
	z-index: 999999 !important;
}

#mobile-demo li a:hover,
#mobile-demo li a:focus{
	color: #1a914f ;
	outline: 0;
}


#mobile-demo .fgci{
  color: #1a914f ;
}

.sidenav-trigger i{
	float: left ;
}


#desktop-menu li a:hover {
	border-bottom: 4px solid #1a914f ;
	transition: all ease-in-out 0.2s;
}

h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
h2{
	font-weight: 600 !important;
}

.btn {
	background: #1a914f;
	color: #f8f8f8 ;
	font-size: 16px ;
	border-radius: 10px;
}

.btn:hover, .btn:focus {
	background: #1a914f;
	outline: 0;
}


/* bact to top button */
#backtop {
	position: fixed;
	left: auto;
	right: 1px;
	top: auto;
	bottom: 20px;
	outline: none;
	overflow: hidden;
	border-radius: 15px;
	color: #f8f8f8;
	text-align: center;
	background-color: #e91c24;
	height: 40px;
	width: 40px;
	line-height: 48px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.3s linear;
	z-index: 999999;
	opacity: 1;
	display: none;
}

#backtop:hover {
	background-color: #0c3f23;
}

#backtop.mcOut {
	opacity: 0;
}



/* hero section */
#hero {
	position: relative;
	bottom: -20px;
	height: 609px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: darken;
	animation-name: slide;
	animation-direction: alternate;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
}

/* hero content text */
#hero .content {
	position: absolute;
	top: 50% ;
	left: 50% ;
	transform: translate(-50%, -50%) ;
}

.content span {
	text-transform: capitalize;
	color: #1a914f;
	font-weight: 700;
	text-shadow: 4px 4px 2px #000 ;
}

.second {
	color: #f8f8f8 ;
	background: #e91c24 !important;
}

.second:hover, .second:focus {
	background: #ab0707 !important;
	outline: 0 !important;
}


/* mobile screen */
#hero .content-mobile-screen {
	position: absolute;
	top: 50% ;
	left: 50% ;
	transform: translate(-50%, -50%) 
}

.content-mobile-screen span {
	text-transform: capitalize;
	color: #1a914f;
	font-weight: 600 !important;
	text-shadow: 0px 4px 2px #000 ;
}





/* hero sliding section */
@keyframes slide {
	0% {
		background-image: url("../img/hero/hero2.jpg");}

	10% {
		background-image: url("../img/hero/hero3.jpg");}

	20% {
		background-image: url("../img/hero/hero3.jpg");}

	30% {
		background-image: url("../img/hero/hero4.jpg");}

	35% {
		background-image: url("../img/hero/hero4.jpg");}

	40% {
		background-image: url("../img/hero/hero5.jpg");}

	50% {
		background-image: url("../img/hero/hero5.jpg");}

	60% {
		background-image: url("../img/hero/hero.jpg");}

	70% {
		background-image: url("../img/hero/hero.jpg");}

	80% {
		background-image: url("../img/hero/hero1.jpg");}

	90% {
		background-image: url("../img/hero/hero1.jpg");}

	95% {
		background-image: url("../img/hero/hero6.jpg");}

	100% {
		background-image: url("../img/hero/hero6.jpg");}

}

/* about sections */
#about h2 {
	position: relative;
	top: 10px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

#about h5 {
	text-transform: uppercase;
	font-weight: normal !important;
}

#about p{
	font-size: 17px;
}

#about #content-text {
	margin: 40px;
}

#about a {
	float: right !important;
}



/* leaders */

#leaders{
	position: relative;
	top: 100px;
	width: 90%;
	margin: auto;
}

#leaders h6, #leaders .card{
	margin-top: 60px !important;
}

.card-content b{
	position: relative;
	font-size: 14px;
	font-weight: 500 !important;
	bottom: 15px;
}
.card-content p{
	position: relative;
	font-size: 14px;
	bottom: 15px ;
}

.card-reveal span{
	font-size: 16px !important;
}

.card-reveal p{
	font-size: 14px;
}




/* map */
#visit-us{
	margin-top: 200px !important;
}

/* contact */
#visit-us .logo{
	animation: slide-right 1.9s alternate infinite;
}

@keyframes slide-right {
	0% {
		-webkit-transform: translateY(10px);
		   -moz-transform: translateY(10px);
		    -ms-transform: translateY(10px);
		     -o-transform: translateY(10px);
		        transform: translateY(10px);
	}
	25%{
		-webkit-transform: translateY(-10px);
		   -moz-transform: translateY(-10px);
		    -ms-transform: translateY(-10px);
		     -o-transform: translateY(-10px);
		        transform: translateY(-10px);
	}
	50%{
		-webkit-transform: translate(0);
		   -moz-transform: translate(0);
		    -ms-transform: translate(0);
		     -o-transform: translate(0);
		        transform: translate(0);
	}
	75%{
		-webkit-transform: translateX(-10px);
		   -moz-transform: translateX(-10px);
		    -ms-transform: translateX(-10px);
		     -o-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	100%{
		-webkit-transform: translateX(10px);
		   -moz-transform: translateX(10px);
		    -ms-transform: translateX(10px);
		     -o-transform: translateX(10px);
		        transform: translateX(10px);
	}
}

#contact{
	position: relative;
	bottom: 90px;
}


/* announcement section */

/* blog */



/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/
.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}


